.pac-container {
    padding: 10px 0;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #0000000D;
    border-top: transparent;
    background-color: #FFFFFF;
    font-family: "Poppins";
}

.pac-container .pac-item {
    border: none;
    font-size: 14px;
    padding: 5px 0px;
    border-bottom: 1px solid #f5f5f5;
    margin: 0 15px;
    display: flex;
    align-items: center;
}

.pac-container .pac-icon {
    background-image: url("/assets/images/map_pin_purple.svg");
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: center;
    height: 35px;
    min-width: 35px;
    max-height: 35px;
}